*{
    margin: 0;
    padding: 0:
}
.contenidor{
    width: 100%;
    height: 1000px;
}
.titul{
    width: 100%;
    height: 100px; 
    position: relative;
}
.logotip{
    width: 30%;
    height: 100%;
    position: absolute;
    text-align: center;
}
.tornar{
    text-decoration: none;
    border: 2px solid black;
    font-size: 3em;
    background-color: dimgray;
    color:aliceblue;
}
.nompg{
    width: 70%;
    height: 100%;
    float: right;
}
.menu1{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: dimgray
    
}
.menus{
    width: 20%;
    height: 100%;
    position: absolute;
    background-color:aliceblue;
    
}
.menus:hover{
    background-color: darkgoldenrod;
}
#mid_1{
    left: 4%;
}
#mid_2{
    left: 28%;
}
#mid_3{
    left: 52%;
}
#mid_4{
    left: 76%;
}
.contenidor2{
    width: 100%;
    height: 800px;
    position: relative;
    background-color: dimgray
}
.menu2{
    width: 15%;
    height: 100%;
    background-color:aquamarine; 
    float: left;
}
.menuslt{
    width: 99%;
    height: 16.2%;
    border: blue 2px solid;
    background-color: dimgray
}
.menuslt:hover{
    background-color:antiquewhite;
    cursor: pointer;
}
.articles{
    width: 70%;
    height: 100%;
    float: left;
    background-color: azure;
    position: relative;
}
.article1{
    width: 94%;
    height: 30%;
    position: absolute;
    margin-left: 3%;
}

#id_1{
    top: 2.5%;
}
#id_2{
    top: 35%;
}
#id_3{
    top: 67.5%
}

.aside{
    width: 15%;
    height: 100%;
    float: left;
}
.folter{
    width: 100%;
    height: 100px;
     position: relative;
}
.ft_1{
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10%;
}
#ftid_1{
  left: 6.25%;  
}
#ftid_2{
    left: 37.5%;
}
#ftid_3{
    left: 68.75%;
}

