*{
    margin: 0;
    padding: 0;
}
.total{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(imatges/a937651587133318eb8e29f28ebfc855.jpg);
    background-size: 100% 100%;
}
.contenidorgran{
    width: 100%;
    height: 75px;
    text-align: center;
}
.contingut{
    width: 700px;
    height: 1050px;
    margin: 0 auto;
    //background-color: aliceblue;
    color: aliceblue;
}
.tasque6{
    font-size: 2em;
}
.dades{
    width: 100%;
    height: 250px;
    position: relative;
}
.imatges{
    position: absolute;
    width: 150px;
    height: 150px;
}
.nom{
    position: absolute;
    width: 200px;
    height: 150px;
    margin-left: 170px;
}
ul{
    margin-top: 50px;
}
ul > li{
 margin-top: 10px;
}
.text{
    position: absolute;
    margin-top: 155px;
    text-align: center;
}
.tasques{
    width: 100%;
    height: 625px;
    position: relative;
}
.tasques1{
    height: 125px;
    width: 100%;
    margin-top: 10px;;
    border-style: double;
    text-align: center;
}
a{
    color: black;
    text-decoration:none;
}
.tasques1:hover > a{
    color: aliceblue;
}
#pr1{
    position: relative;
}
div#foto{
    background: url(imatges/practica%201basic%20css.png);
    background-size: 100% 100%;
    height: 100%;
    background-color: rgba(62, 62, 62, 0.92);

}
div#info{
    width: 100%;
    height: 100%;
    background-color:#332f2f;
    visibility: hidden;
    opacity: 0;
}
div#foto:hover #info{
    visibility: visible;
    opacity: 1;
}
.butoa1{
    float: right;
}
